<!DOCTYPE HTML>
<html>
    <head>
        <title>Heart Rating</title>
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Heart Rating</h1>
        </header>
        <div class="main">
            <p>Welcome to the Heart Rating page! Fill out the form below and click submit to be noticed of any heart-attack risks and other useful information.
            </p>
            <form class="healthInfoForm" method="post">
                <label>Age</label>
                <input type="number" name="age" id="age"></input>
                <br>
                <label>Exercise induced angina</label>
                <select name = "exang" id="exang">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <br>
                <label>Chest pain type</label>
                <select name="cpt" id="cpt">
                    <option value="0">Typical Angina</option>
                    <option value="1">Atypical Angina</option>
                    <option value="2">Non-anginal Pain</option>
                    <option value="3">Asymptomatic</option>
                </select>
                <br>
                <label>Resting blood pressure</label>
                <input type="number" name="trtbps" id="trtbps"></input>
                <br>
                <label>Maximum heart rate acheived</label>
                <input type="number" name="thalach" id="thalach"></input>
                <br>
                <label>Cholestoral via BMI sensor (mg/dl)</label>
                <input type="number" name="chol" id="chol"></input>
                <br>
                <label>Fasting blood sugar > 120 mg/dl</label>
                <select name="fbs" id="fbs">
                    <option value="1">Yes</option>
                    <option value="0"></option>No</option>
                </select>
                <br>
                <label>Number of major vessels</label>
                <input type="number" min="0" max="3" name="ca" id="ca">
                <br>
                <button type="submit">Calculate risk</button>
            </form>
        </div>
        <footer>
            <p>This project came from <a href="https://github.com/chalory/data-hackfest-2023.git"><strong>this</strong></a> repository</p>
        </footer>
    </body>
</html>